E-learningAdmin/src/conf/xml-resources/web-service-references/LecturerWS/wsdl/localhost_8080/LecturerWS/LecturerWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="LecturerWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/LecturerWS/LecturerWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getLecturerCourses">
<part name="parameters" element="tns:getLecturerCourses"/>
</message>
<message name="getLecturerCoursesResponse">
<part name="parameters" element="tns:getLecturerCoursesResponse"/>
</message>
<message name="addLecturer">
<part name="parameters" element="tns:addLecturer"/>
</message>
<message name="getAllLecturers">
<part name="parameters" element="tns:getAllLecturers"/>
</message>
<message name="getAllLecturersResponse">
<part name="parameters" element="tns:getAllLecturersResponse"/>
</message>
<message name="getLecturer">
<part name="parameters" element="tns:getLecturer"/>
</message>
<message name="getLecturerResponse">
<part name="parameters" element="tns:getLecturerResponse"/>
</message>
<message name="userExists">
<part name="parameters" element="tns:userExists"/>
</message>
<message name="userExistsResponse">
<part name="parameters" element="tns:userExistsResponse"/>
</message>
<portType name="LecturerWS">
<operation name="getLecturerCourses">
<input wsam:Action="http://ws/LecturerWS/getLecturerCoursesRequest" message="tns:getLecturerCourses"/>
<output wsam:Action="http://ws/LecturerWS/getLecturerCoursesResponse" message="tns:getLecturerCoursesResponse"/>
</operation>
<operation name="addLecturer">
<input wsam:Action="http://ws/LecturerWS/addLecturer" message="tns:addLecturer"/>
</operation>
<operation name="getAllLecturers">
<input wsam:Action="http://ws/LecturerWS/getAllLecturersRequest" message="tns:getAllLecturers"/>
<output wsam:Action="http://ws/LecturerWS/getAllLecturersResponse" message="tns:getAllLecturersResponse"/>
</operation>
<operation name="getLecturer">
<input wsam:Action="http://ws/LecturerWS/getLecturerRequest" message="tns:getLecturer"/>
<output wsam:Action="http://ws/LecturerWS/getLecturerResponse" message="tns:getLecturerResponse"/>
</operation>
<operation name="userExists">
<input wsam:Action="http://ws/LecturerWS/userExistsRequest" message="tns:userExists"/>
<output wsam:Action="http://ws/LecturerWS/userExistsResponse" message="tns:userExistsResponse"/>
</operation>
</portType>
<binding name="LecturerWSPortBinding" type="tns:LecturerWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getLecturerCourses">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addLecturer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getAllLecturers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLecturer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="userExists">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="LecturerWS">
<port name="LecturerWSPort" binding="tns:LecturerWSPortBinding">
<soap:address location="http://localhost:8080/LecturerWS/LecturerWS"/>
</port>
</service>
</definitions>