E-learningAdmin/src/conf/xml-resources/web-service-references/LecturerWS/wsdl/localhost_8080/LecturerWS/LecturerWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="addLecturer" type="tns:addLecturer"/>

<xs:element name="getAllLecturers" type="tns:getAllLecturers"/>

<xs:element name="getAllLecturersResponse" type="tns:getAllLecturersResponse"/>

<xs:element name="getLecturer" type="tns:getLecturer"/>

<xs:element name="getLecturerCourses" type="tns:getLecturerCourses"/>

<xs:element name="getLecturerCoursesResponse" type="tns:getLecturerCoursesResponse"/>

<xs:element name="getLecturerResponse" type="tns:getLecturerResponse"/>

<xs:element name="userExists" type="tns:userExists"/>

<xs:element name="userExistsResponse" type="tns:userExistsResponse"/>

<xs:complexType name="getLecturer">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLecturerResponse">
<xs:sequence>
<xs:element name="return" type="tns:lecturer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lecturer">
<xs:sequence>
<xs:element name="address" type="tns:address" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="address">
<xs:sequence>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="street" type="xs:string" minOccurs="0"/>
<xs:element name="streetNo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addLecturer">
<xs:sequence>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="street" type="xs:string" minOccurs="0"/>
<xs:element name="streetNo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllLecturers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllLecturersResponse">
<xs:sequence>
<xs:element name="return" type="tns:lecturer" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLecturerCourses">
<xs:sequence>
<xs:element name="lecturerId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLecturerCoursesResponse">
<xs:sequence>
<xs:element name="return" type="tns:course" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="course">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="duration" type="xs:int"/>
<xs:element name="endDate" type="xs:string" minOccurs="0"/>
<xs:element name="finalExaminationType" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="lecturer" type="tns:lecturer" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="noOfStudents" type="xs:int"/>
<xs:element name="startDate" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="userExists">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="userExistsResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>