E-learningClient/src/conf/xml-resources/web-service-references/ExamWS/wsdl/localhost_8080/ExamWS/ExamWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="ExamWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/ExamWS/ExamWS?xsd=1"/>
</xsd:schema>
</types>
<message name="isExamTaken">
<part name="parameters" element="tns:isExamTaken"/>
</message>
<message name="isExamTakenResponse">
<part name="parameters" element="tns:isExamTakenResponse"/>
</message>
<message name="addQuestion">
<part name="parameters" element="tns:addQuestion"/>
</message>
<message name="getAllQuestions">
<part name="parameters" element="tns:getAllQuestions"/>
</message>
<message name="getAllQuestionsResponse">
<part name="parameters" element="tns:getAllQuestionsResponse"/>
</message>
<message name="getExamsByCourse">
<part name="parameters" element="tns:getExamsByCourse"/>
</message>
<message name="getExamsByCourseResponse">
<part name="parameters" element="tns:getExamsByCourseResponse"/>
</message>
<message name="gradeExam">
<part name="parameters" element="tns:gradeExam"/>
</message>
<message name="addExam">
<part name="parameters" element="tns:addExam"/>
</message>
<message name="getQuestionsByExam">
<part name="parameters" element="tns:getQuestionsByExam"/>
</message>
<message name="getQuestionsByExamResponse">
<part name="parameters" element="tns:getQuestionsByExamResponse"/>
</message>
<message name="addQuestionToExam">
<part name="parameters" element="tns:addQuestionToExam"/>
</message>
<message name="getExamGrade">
<part name="parameters" element="tns:getExamGrade"/>
</message>
<message name="getExamGradeResponse">
<part name="parameters" element="tns:getExamGradeResponse"/>
</message>
<portType name="ExamWS">
<operation name="isExamTaken">
<input wsam:Action="http://ws/ExamWS/isExamTakenRequest" message="tns:isExamTaken"/>
<output wsam:Action="http://ws/ExamWS/isExamTakenResponse" message="tns:isExamTakenResponse"/>
</operation>
<operation name="addQuestion">
<input wsam:Action="http://ws/ExamWS/addQuestion" message="tns:addQuestion"/>
</operation>
<operation name="getAllQuestions">
<input wsam:Action="http://ws/ExamWS/getAllQuestionsRequest" message="tns:getAllQuestions"/>
<output wsam:Action="http://ws/ExamWS/getAllQuestionsResponse" message="tns:getAllQuestionsResponse"/>
</operation>
<operation name="getExamsByCourse">
<input wsam:Action="http://ws/ExamWS/getExamsByCourseRequest" message="tns:getExamsByCourse"/>
<output wsam:Action="http://ws/ExamWS/getExamsByCourseResponse" message="tns:getExamsByCourseResponse"/>
</operation>
<operation name="gradeExam">
<input wsam:Action="http://ws/ExamWS/gradeExam" message="tns:gradeExam"/>
</operation>
<operation name="addExam">
<input wsam:Action="http://ws/ExamWS/addExam" message="tns:addExam"/>
</operation>
<operation name="getQuestionsByExam">
<input wsam:Action="http://ws/ExamWS/getQuestionsByExamRequest" message="tns:getQuestionsByExam"/>
<output wsam:Action="http://ws/ExamWS/getQuestionsByExamResponse" message="tns:getQuestionsByExamResponse"/>
</operation>
<operation name="addQuestionToExam">
<input wsam:Action="http://ws/ExamWS/addQuestionToExam" message="tns:addQuestionToExam"/>
</operation>
<operation name="getExamGrade">
<input wsam:Action="http://ws/ExamWS/getExamGradeRequest" message="tns:getExamGrade"/>
<output wsam:Action="http://ws/ExamWS/getExamGradeResponse" message="tns:getExamGradeResponse"/>
</operation>
</portType>
<binding name="ExamWSPortBinding" type="tns:ExamWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="isExamTaken">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getAllQuestions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getExamsByCourse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="gradeExam">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="addExam">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getQuestionsByExam">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addQuestionToExam">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getExamGrade">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ExamWS">
<port name="ExamWSPort" binding="tns:ExamWSPortBinding">
<soap:address location="http://localhost:8080/ExamWS/ExamWS"/>
</port>
</service>
</definitions>