E-learningClient/web/WEB-INF/wsdl/localhost_8080/StudentWS/StudentWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="StudentWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/StudentWS/StudentWS?xsd=1"/>
</xsd:schema>
</types>
<message name="registerToCourse">
<part name="parameters" element="tns:registerToCourse"/>
</message>
<message name="getStudent">
<part name="parameters" element="tns:getStudent"/>
</message>
<message name="getStudentResponse">
<part name="parameters" element="tns:getStudentResponse"/>
</message>
<message name="addStudent">
<part name="parameters" element="tns:addStudent"/>
</message>
<message name="getAllStudents">
<part name="parameters" element="tns:getAllStudents"/>
</message>
<message name="getAllStudentsResponse">
<part name="parameters" element="tns:getAllStudentsResponse"/>
</message>
<message name="userExists">
<part name="parameters" element="tns:userExists"/>
</message>
<message name="userExistsResponse">
<part name="parameters" element="tns:userExistsResponse"/>
</message>
<message name="confirmRegisterToCourse">
<part name="parameters" element="tns:confirmRegisterToCourse"/>
</message>
<message name="getCourseByStudent">
<part name="parameters" element="tns:getCourseByStudent"/>
</message>
<message name="getCourseByStudentResponse">
<part name="parameters" element="tns:getCourseByStudentResponse"/>
</message>
<message name="getAllStudentCourse">
<part name="parameters" element="tns:getAllStudentCourse"/>
</message>
<message name="getAllStudentCourseResponse">
<part name="parameters" element="tns:getAllStudentCourseResponse"/>
</message>
<portType name="StudentWS">
<operation name="registerToCourse">
<input wsam:Action="http://ws/StudentWS/registerToCourse" message="tns:registerToCourse"/>
</operation>
<operation name="getStudent">
<input wsam:Action="http://ws/StudentWS/getStudentRequest" message="tns:getStudent"/>
<output wsam:Action="http://ws/StudentWS/getStudentResponse" message="tns:getStudentResponse"/>
</operation>
<operation name="addStudent">
<input wsam:Action="http://ws/StudentWS/addStudent" message="tns:addStudent"/>
</operation>
<operation name="getAllStudents">
<input wsam:Action="http://ws/StudentWS/getAllStudentsRequest" message="tns:getAllStudents"/>
<output wsam:Action="http://ws/StudentWS/getAllStudentsResponse" message="tns:getAllStudentsResponse"/>
</operation>
<operation name="userExists">
<input wsam:Action="http://ws/StudentWS/userExistsRequest" message="tns:userExists"/>
<output wsam:Action="http://ws/StudentWS/userExistsResponse" message="tns:userExistsResponse"/>
</operation>
<operation name="confirmRegisterToCourse">
<input wsam:Action="http://ws/StudentWS/confirmRegisterToCourse" message="tns:confirmRegisterToCourse"/>
</operation>
<operation name="getCourseByStudent">
<input wsam:Action="http://ws/StudentWS/getCourseByStudentRequest" message="tns:getCourseByStudent"/>
<output wsam:Action="http://ws/StudentWS/getCourseByStudentResponse" message="tns:getCourseByStudentResponse"/>
</operation>
<operation name="getAllStudentCourse">
<input wsam:Action="http://ws/StudentWS/getAllStudentCourseRequest" message="tns:getAllStudentCourse"/>
<output wsam:Action="http://ws/StudentWS/getAllStudentCourseResponse" message="tns:getAllStudentCourseResponse"/>
</operation>
</portType>
<binding name="StudentWSPortBinding" type="tns:StudentWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="registerToCourse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getAllStudents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="userExists">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="confirmRegisterToCourse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getCourseByStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllStudentCourse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="StudentWS">
<port name="StudentWSPort" binding="tns:StudentWSPortBinding">
<soap:address location="http://localhost:8080/StudentWS/StudentWS"/>
</port>
</service>
</definitions>